// ion-content{
//     --background: #3E8D2E;

// }

ion-toolbar{

--background: #00BFA5;
--color:#ffffff;
}

// ion-item{
// --background: rgb(255, 255, 255);
// --color: #0a0808;
// }
ion-button.btn{
    --color:#ffffff;
--background: rgb(28, 241, 213);
}