<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start" (click)="goBack()">
          <ion-icon name="arrow-round-back"></ion-icon>
      </ion-buttons>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
    <ion-img class="logo" src="/assets/citymovie.png" ></ion-img>
  
    <form #form="ngForm" >
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <!-- <ion-item text-center>
              <ion-img src="/assets/logo.png"></ion-img>
            </ion-item> -->
            <div padding>
              <ion-item >
                <ion-icon name="person" color="#A1A1A1"></ion-icon>&nbsp;&nbsp;
                <ion-input  name="name" placeholder="User Email" [(ngModel)]="validate.email" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="key" color="#A1A1A1"></ion-icon>&nbsp;&nbsp;
                <ion-input shape="round" name="password" type="password" placeholder="Password" [(ngModel)]="validate.password" required></ion-input>
              </ion-item>
            </div>
            <ion-text color="light" text-right (click)="forgotPass()"><p>Forgot Password?</p></ion-text>
            <div>
              <ion-button  type="submit" [disabled]="form.invalid" expand="block" (click)="onLogin()"><ion-icon name="log-in"></ion-icon>SIGN IN</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-text color="light" text-center > <p>Or Sign in with:</p> </ion-text>
      <ion-grid>
          <ion-row>
            <ion-col align-self-start>
              <ion-button color="primary" expand="block" href="https://www.facebook.com/" target="_blank">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col align-self-center>
              <ion-button color="secondary" expand="block" href="https://twitter.com/login" target="_blank">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col align-self-end>
              <ion-button color="danger" expand="block" href="https://plus.google.com" target="_blank">
                <ion-icon name="logo-googleplus"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- Other links -->
        <ion-text color="light" text-center > <p (click)="register()">New here? <strong>Sign up</strong></p> </ion-text>
    
    </form>
    <ion-img class="footer" src="/assets/footer.svg" ></ion-img>
      
</ion-content>