ion-content{
    --background: #00bfa66b;

}

ion-toolbar{

    --background: #00BFA5;
    --color:#ffffff;
    }

ion-item{
--background: rgb(255, 255, 255);
--color: #0a0808;
}
ion-button{
--background: rgba(25, 204, 9, 0.932);
}