<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" (click)="goBack()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>  
      
      <ion-title>
          Offers
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-card class="welcome-card">
    <ion-img src="/assets/offer2.jpg"></ion-img>       

  <ion-card-header>
    <ion-card-content>  
      <ion-card-title size="large">Upto 20%off</ion-card-title>
      <ion-card-subtitle>last date 29-03-2019</ion-card-subtitle>
     </ion-card-content> 
    <ion-button icon="fa-rotate-left" (click)="bookingmovie()">Book Ticket</ion-button> 
  </ion-card-header>
</ion-card>
<ion-card class="welcome-card">
    <ion-img src="/assets/offer3.png"></ion-img>         

  <ion-card-header>
    <ion-card-content>  
      <ion-card-title size="large">Upto 10%off</ion-card-title>
      <ion-card-subtitle>last date 29-03-2019</ion-card-subtitle>
     </ion-card-content> 
    <ion-button icon="fa-rotate-left" (click)="bookingmovie()">Book Ticket</ion-button> 
  </ion-card-header>
</ion-card>
<ion-card class="welcome-card">
    <ion-img src="/assets/offer4.jpg"></ion-img>         

  <ion-card-header>
    <ion-card-content>  
      <ion-card-title size="large">Upto 20%off</ion-card-title>
      <ion-card-subtitle>last date 29-03-2019</ion-card-subtitle>
     </ion-card-content> 
    <ion-button icon="fa-rotate-left" (click)="bookingmovie()">Book Ticket</ion-button> 
  </ion-card-header>
</ion-card>
<ion-img class="footer" src="/assets/footer.svg" ></ion-img>
</ion-content>