

ion-toolbar{

    --background: #00BFA5;
    --color:#ffffff;
    }


ion-button{
--background: rgb(27, 139, 124);
--color:#ffffff;
margin-top: 140px;
margin-left: 70px;
--border-radius:20px;
}

ion-text{
    --color: rgb(5, 7, 6);
        margin-top: 30px;
        margin-left: 40px;
}