<ion-header>
    <ion-toolbar>
            <ion-buttons slot="start" (click)="goBack()">
                <ion-icon name="arrow-round-back"></ion-icon>
            </ion-buttons>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <ion-title>
            Payment
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    
    <ion-button    size="large"  (click)="paymentDone()">Make Payment</ion-button>
</ion-content>
<ion-footer>
        <ion-img class="footer" src="/assets/footer.svg" ></ion-img>
</ion-footer>