<ion-content>
    
        <ion-card-header>
          
          <ion-card-title>Welcome to City Movie</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          Latest movie app... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      
    

  
  <div class="content" text-center>
    <div class="btn1"> <ion-button  size="large" (click)="redirectToLogin()"  >GET STARTED</ion-button></div>
  </div>
</ion-content>