
ion-content{

    --background: url('../../assets/home.jpg');
    --color:#ffff;
}
ion-button{
    --background: rgb(27, 139, 124);
    --color:#ffffff;
    margin-top: 120px;
    
    --border-radius:20px;
    }
    